body,html{
  width:100%;
  height:100%;
  overflow:hidden;
}
body{
  font-family:"Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;  
 background:url(http://crossdesarrollo.magnoliainternet.com/feeds/objetivos/img/objm.jpg);
   background-repeat: no-repeat;
   background-position: center center;
background-size: cover;
  background-attachment: fixed;
}


.header{
  line-height:1.42857143;
  display:table;
  position:relative;
  width:100%;
  height:100%;
}
.text-vertical-center{
  display:table-cell;
  text-align:center;
  vertical-align:middle;
}
.text-vertical-center h1{
  color:#fff;
  margin:0;
  padding:0;
  font-size:4.5em;
  font-weight:700;
}
.btn-dark{
  border-radius:0;
  color:#fff;
  background:rgba(0,0,0,.4);
  border:1px solid rgba(0,0,0,.4);
}
.btn-dark:hover{
  color:#333;
  background:0 0;
  border:1px solid rgba(0,0,0,.4);
}
.form-signin {
  max-width: 280px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading, .form-signin {
  margin-bottom: 10px;
}
.form-signin .form-control {
  position: relative;
  font-size: 14px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.btn-lg{
  font-size:14px;
}
a{
  text-decoration:none;
  color:#fff;
  text-shadow:1px 1px 0 #000;
}
a:hover{
  color:#cecece;
  text-decoration: none;
}
.panel-default {
  border-color: #ddd;
}
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
  box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-body {
  padding: 15px;
}
.form-group {
  margin-bottom: 15px;
}
.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.btn-lg {
  font-size: 14px;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.btn-success {
  color: #fff;
  /**background-color: #5cb85c;
  border-color: #4cae4c;**/
  background-color: #2CC185;
  border-color: #2CC185;
}