  
html,body{

margin:0px;

height:100%;

}

*{
font-family: 'Raleway', Arial, sans-serif;    
    box-sizing: border-box;   
}



select{
        padding: 0.13em;
    }

#maidContenedor{
height: 70%;
}
header{
    height:30%;
}

table {

    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 12px;
    margin:0px,45px,0px,45px;     
    width: 100%; 
    text-align: left;    
    border-collapse: collapse; 
    margin: 0 auto;

}

th {     
	     font-size: 18px;
    font-weight: 600;
    padding: 8px;
    background: antiquewhite;
    border-top: 4px solid antiquewhite;
    border-bottom: 2px solid #fff;
    color: #74777b;
}

td {   
	width: 50%; 
    font-size: 18px;
	   
      padding: 8px; 
    background: antiquewhite;
	    
	border-bottom: 1px solid #fff;
      
    border-top: 1px solid transparent; 
}


#ocultarBloqueObjetivos td {   

      padding: 1% 7%; 
  
}


tr:nth-child(2n+1){

    background: white;
}


/**tr:hover td { 
	background: #d0dafd; 
	color: #339; 
}**/

#selecObjetivo,.hid,#hid2{
  display:none;


}
#objetivosTabla{

background: #e8edff; 

}
.esconder{

    display: none;
}
ul{  
list-style-type:none;  
}  

#register_form{

    width: 50%;
    float: left;
}
.widthinput{

    width: 60%;
}

.widthlabel{
    display: inline-block;
    text-align: right;
    width: 33%;
}
#section-bar-2,#section-bar-3{
    height: 500px;
    overflow: auto;
}

/**scroll transparente
#section-bar-2::-webkit-scrollbar,#section-bar-3::-webkit-scrollbar {
  display: none;
}
**/



#imagenobjetivo{
width: 130px;

position: relative;
overflow: hidden;
}
#imagenobjetivo img{
width: 100%;
position: relative;
overflow: hidden;
}
#enviar-btn{

    background: #2CC185;
    color: white;
    width: 63%;
    height: 35px;
    border-radius: 2%;
}
#nombreimg{

    font-size: 15px;
}


#messagesObjetivo{


width: 50%;
    text-align: center;
    
}


#cerrar{

    position: absolute;
    top: 22px;
    right: 32px;
    color: #2CC185;
}

.rowsubobjetivo td{

    background-color: #E6EBE0;
    
    border-width: 0;
}


#section-bar-3 input,#section-bar-3 textarea{

    
    background-color: antiquewhite;
    border-width: 0;
    color: gray;
}

#section-bar-3 .rowsubobjetivo input,#section-bar-3 .rowsubobjetivo textarea{

    
    background-color: #E6EBE0;
    border-width: 0;
    color: gray;

}


/*.zoom{
        transition: 0.2s ease;
        -moz-transition: 0.2s ease; 
        -webkit-transition: 0.2s ease;
        -o-transition: 0.2s ease; 
    }
    .zoom:hover{
        transform : scale(1.01);
        -moz-transform : scale(1.01); 
        -webkit-transform : scale(1.01); 
        -o-transform : scale(1.01);
        -ms-transform : scale(1.01); 
    }*/

    form{
        display : table;
        border-spacing: 5px 0.70em;
        width:100%;

    }
    .linea{
        display :table-row;
    }
#centrar-Columna-uno{
    display: flex;
    
     align-items:center;
}
.celda1 ,.celda{
    display : table-cell;
}
.celda1 {
   
    text-align: right;;
}

.celda{
        padding-left: 4%;
        margin-left: 5%;
            width: 70%;
}
#section-bar-1 p{
    padding: 0;
}
#section-bar-1{
    overflow: auto;
}
#nombreimg{
    padding-left: 0;
}
.nocentrar{
text-align: left;
}


/**estilo check**/

li {
  position: relative;
  margin-bottom: 13px;
  }

li > input[type="checkbox"]{
  cursor: pointer;
  position: absolute;
  left: 3px;
  top: 0;
  z-index:2;
  width: 20px;
  height: 20px;
  opacity: 0;
  vertical-align: middle;
  }

li > input[type="checkbox"] +label{
  vertical-align: middle;
  border: 2px solid #ccc;
  background-color:  #E6EBE0;
  height: 20px;
  width: 20px;
  margin-right: 16px;
  display: inline-block;
  z-index:1;
  position: relative;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  }

li > input[type="checkbox"]:checked+label {
    background: -webkit-gradient(linear, left bottom, left top, color-stop(0, #2CC185), color-stop(1,#2CC185));
    background: -moz-linear-gradient(center bottom, #a40017 0%, #2CC185 100%);
    box-shadow: 0 2px 7px rgba(0,0,0, 0.6);
    border: 2px solid #fff;
}

li > input[type="checkbox"]:checked+label:after {
     content: '\2714';
    text-indent: 0;
    font-size: 13px;
    color: #fff;
    position: absolute;
     top: 0px;
    left: 3px;
    width: 13px;
    text-shadow: 0 -1px 0 rgba(0,0,0, 0.7);
  }

  #ocultarGenero{
    display: none;
  }
.esconder td{
  background-color: #E6EBE0;
      padding-left: 14%;
}
.esconder td ul{
  
    margin-top: 1%;
}


